/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  background: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear:both;
}

/* -----------
  general styles
  -----------*/

:root {
  --orange: #ff8800;
  --light_orange: #ffaa4d;
}

.stack {
  margin-block: 5%;
  padding-bottom: 5%;
}

.stack > * + * {
  display: block;
  margin-top: 5%;
}

.small_stack > * + * {
  display: block;
  margin-top: 2.5%;
}

.card > * + * {
  display: block;
  margin-top: 2%;
}

.spaced > * + * {
  display: inline-block;
  margin-left: 1.5rem;
}


/* -----------
  general fonts and colors
  -----------*/

  body * {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
  }



  h1,
  h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Yeseva One', serif;
  }

  h2 {
    font-size: 1.75rem;
  }

  blockquote {
    font-style: italic;
  }


  /* -----------
    backgrounds & colors
  -----------*/

  header,
  .cuisine,
  .hours,
  .testimonials {
    background: #f2f9f9;
  }

  .cuisine {
    background-image: linear-gradient(90deg, #dbe6eb 20%, #f2f9f9 50%);
  }

  .testimonials,
  .hours {
    background-image: linear-gradient(90deg, #dbe6eb 5%, #f2f9f9 12%);
  }

  h3 {
    color: var(--light_orange);
  }

/* -----------
  header/nav
  -----------*/

header {
  background: url("./images/foodjumble.jpg") no-repeat 50%;
}

.hero {
  width: 50%;
  margin-left: 10%;
}

form {
  font-size: 0;
}

.hero li {
  display: inline-block;
}

/* -----------
  story
  -----------*/

  article {
    width: 50%;
    margin-left: 40%;
    margin-right: 10;
  }

  .menu-button {
    background-color: orange;
    background: linear-gradient(to right, var(--orange) 75%, var(--light_orange) 0%);
  }

  /* -----------
  cuisine
  -----------*/

.cuisine {
  padding-block: 5%;
  margin-bottom: 0;
}

.foodPorn {
  width: 90%;
  margin-inline: auto;
  text-align: center;
}

.gallery > li {
  display: inline-block;
  margin-left: 1.5%;
}

.gallery > li > img {
  width: 20vw;
  height: 20vw;
  margin-bottom: 3%;
}

.gallery > li:nth-child(4a+1) {
  margin-left: 0;
}


   /* -----------
  hours
  -----------*/

  .hours {
    padding-block: 5%;
    margin-block: 0;
  }

  .hours > section {
    width: 90%;
    margin-inline: auto;
    text-align: center;
  }

  .opening {
    margin-inline: 20%;
  }

  .opening > section:first-child {
    float: left;
  }

  .opening > section:last-child {
    float: right;
  }

  .hours img {
    width: 80%;
  }



  /* -----------
  testimonials
  -----------*/

  .testimonials  {
    padding-block: 5%;
    margin-block: 0;
  }

  .testimonials > section {
    width: 90%;
    margin-inline: auto;
    text-align: center;
  }